.tag-row{
  gap: $name-tag-row-gap;
}

.copy-link-textarea {
  border-color: $copy-link-area-border-color;
  background-color: $copy-link-area-bg !important;
  resize: none;
  width: $small-block-width;
  height: $copy-link-area-height;
  white-space: nowrap;
  overflow-y: hidden;
}

#first-name{
  width: 280px;
}

#last-name{
  width: 340px;
}

#title{
  width: 400px;
}
