.collapsed-card-label {
  color: $yellow;
}
.bg-very-happy{
  background-color: lightgreen;
}
.bg-very-sad{
  background-color: indianred;
}
.bg-neutral{
  background-color: goldenrod;
}
.bg-unmarked{
  background-color: darkgray;
}
.user-avatar{
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: $gray-400;
}