.main-background{
  background-color: $gray-200;
}
.w-90 {
  width: 90%;
}
.w-85 {
  width: 85%;
}
.w-80 {
  width: 80%;
}

.image-size{
  width: 30px;
  height: 30px;
}
.yellow-line::after{
  display: inline-block;
  content: "";
  width: 2rem;
  border: 0.2rem solid $yellow;
}

.hidden-card{
  max-height: 0;
}
.shown-card{
  max-height: 100vh;
}
.hidden-card-transform{
  overflow: hidden;
  transition: max-height 0.5s;
}